# Ignorar node_modules de qualquer lugar no projeto
node_modules/

# Ignorar node_modules dentro do diretório backend
backend/node_modules/

# Ignorar node_modules dentro do diretório frontend
frontend/node_modules/

# Remover o gitignore
backend/.env